Django
djangorestframework
djangorestframework-simplejwt[crypto]
django-cors-headers
psycopg2-binary
python-decouple
celery
redis
pillow
requests
python-dotenv
django-filter
drf-spectacular
whitenoise
gunicorn
fal-client
boto3
django-storages
django-ses
resend